$icon-font-path: "/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/bootstrap";
@import "fonts";

@mixin truncate-text {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

body {
  font-family: 'Lato', sans-serif;
  padding-top: 60px;
}

.rabaab {
  width: 100%;
  height: 100%;
}

.player-controls {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  height: 70px;
  background-color: #eee;

  .controls {
    padding: 15px 30px;

    i {
      font-size: 30px;
      color: #aaa;
      margin-right: 15px;

      &.play-button {
        font-size: 35px;
      }
    }
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: wheat;
  border-bottom: 1px solid #eee;
  z-index: 100;

  .brand {
    display: inline-block;
    font-size: 24px;
    padding: 10px 20px;
    width: 15%;
    float: left;
    text-decoration: none;
    font-family: "Source Sans Pro";
    color: white;
    background-color: tomato;
    text-transform: uppercase;
    border-bottom: 1px solid tomato;
  }

  .search-bar {
    width: 85%;
    border: 0px;
    font-size: 22px;
    outline: 0px;
    padding: 12px;
    font-weight: 200;
  }
}

.playlist-section {
  position: fixed;
  top: 56px;
  right: 0;
  bottom: 70px;
  background-color: #ddd;
  color: white;

  h2 {
    margin: 0px -15px;
    background-color: rgb(34, 34, 34);
    padding: 12px 10px;
    font-size: 20px;
    text-transform: uppercase;
    color: rgb(170, 170, 170);
  }

  .songs {
    margin: 0 -15px;

    a {
      cursor: pointer;
      display: block;
      padding: 5px 25px 5px 10px;
      color: #666;
      text-decoration: none;
      position: relative;

      i {
        display: none;
        float: right;
        position: absolute;
        top: 30%;
        right: 10px;
      }

      &:hover {
        i {
          display: block;
        }
      }

      &.active {
        color: tomato;
      }

      span {
        display: block;
        @include truncate-text();

        &.artist-title {
          color: #aaa;
          margin-top: -2px;
        }
      }
    }
  }
}

.album-list {
  .album {
    display: block;
    padding: 10px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #555;
    overflow: auto;

    img {
      width: 50px;
      margin-right: 10px;
    }

    span {
      display: block;

      &.imageloader {
        float: left;
      }

      &.title {
        margin-top: 5px;
      }

      &.artist {
        color: #aaa;
      }
    }

    &:hover {
      background-color: whitesmoke;
    }
  }
}
