<script type="text/x-handlebars" id="album">
  <div class="album">
    <h1 class="title">
      {{title}}
      <span class="pull-right label label-danger">{{artist.title}}</span>
    </h1>
    <table class="table">
      <thead>
        <th>ID</th>
        <th>Title</th>
        <th>Artist Title</th>
      </thead>
      <tbody>
        {{#each song in songs}}
          <tr>
            <td>{{song.id}}</td>
            <td>{{song.title}}</td>
            <td>{{song.artist_title}}</td>
          </tr>
        {{/each}}
      <tbody>
    </table>
  </div>
</script>
