<script type="text/x-handlebars" id="album">
<div class="album">
  <h1 class="header">{{title}}</h1>
  <ul class="list list-albums">
    {{#each song in songs}}
      <li>
        <a {{action 'play' song}}>
          <span class="title">{{song.title}}</span>
          <span class="artist">{{song.artist_title}}</span>
        </a>
      </li>
    {{/each}}
  </ul>
</div>
</script>
