<script type='text/x-handlebars' id='application'>
  <div id="main">
    <div id="navigation">
      <a href="#" class="brand">Rabaab</a>
      <ul class="nav">
        <li>{{#link-to "latest_albums"}}<i class="icon-star-1"></i> Latest Albums{{/link-to}}</li>
        <li><a href="#"><i class="icon-clock"></i> Recently Played</a></li>
        <li><a href="#"><i class="icon-menu-1"></i> Playlists</a></li>
        <li><a href="#"><i class="icon-star-1"></i> Top Charts</a></li>
      </ul>
    </div>
    <div id="container">
      <div class="search">
        {{input type="text" value=query classNames="form-control input-sm" action="search" placeholder="Search for album, song or artist..."}}
      </div>
      <div class="content">
        {{outlet}}
      </div>
    </div>
    <div id="playlist">
      <div class='title'><i class='icon-list-add'></i> Playlist</div>
      {{partial 'playlist'}}
    </div>
  </div>
  <footer class="footer">
    {{render 'player'}}
  </footer>
</script>

<script type="text/x-handlebars" id="loading">
<div class="loading">
  <div class="icon-spin5 animate-spin"></div>
</div>
</script>
