<script type='text/x-handlebars' id='application'>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <a href="#" class="navbar-brand">Triangular</a>
    <ul class="nav navbar-nav">
      <li>{{#link-to "latest_albums"}}Latest Albums{{/link-to}}</li>
      <li><a href="#">Recently Played</a></li>
      <li><a href="#">Playlist</a></li>
    </ul>
    <div class="navbar-form navbar-right" role="search">
      {{input type="text" value=query classNames="form-control input-sm" action="search" placeholder="Search for album, song or artist..."}}
    </div>
  </div>
</nav>
<div class="content">
  <div class="container">
    {{outlet}}
  </div>
</div>
<footer class="footer">
  <div class="container">
    {{render 'player'}}
  </div>
</footer>
</script>

<script type="text/x-handlebars" id="loading">
<div class="loading">
  <div class="icon-spin5 animate-spin"></div>
</div>
</script>
