<script type='text/x-handlebars' id='application'>
  <div id='wrapper'>
    <div id='sidebar-wrapper'>
      {{partial 'sidebar'}}
    </div>
    <div id='page-content-wrapper'>
      <div class="page-content inset">
        {{outlet}}
      </div>
    </div>
    <nav class="navbar navbar-fixed-bottom navbar-default">
      {{render 'player'}}
    </nav>
  </div>
</script>
