<script type="text/x-handlebars" id="artist">
<div class="artist">
  <h1 class="header">Artist: {{title}}</h1>
  <ul class="list list-albums">
    {{#each album in albums}}
      <li>
      {{#link-to 'album' album.id classNames='title'}}
        <span class="title">{{album.title}}</span>
      {{/link-to}}
      </li>
    {{/each}}
  </ul>
</div>
</script>
