<script type="text/x-handlebars" id="artist">
  <div class="artist">
    <h1 class="title">Artist: {{title}}</h1>
    <div class="list-group">
      {{#each album in albums}}
        {{#link-to 'album' album.id classNames='list-group-item'}}
          {{album.title}}
        {{/link-to}}
      {{/each}}
    </div>
  </div>
</script>
