<script type="text/ng-template" id="latest-albums">
  <div class="container" ng-controller="LatestAlbumsCtrl" id="main-content">
    <h1 class="title">Latest Albums</h1>
    <div album-list groups="latest_albums"></div>
  </div>
</script>