<script type="text/x-handlebars" data-template-name="latest_albums">
  <h1 class="header">Latest Albums</h1>
  <ul class="list list-albums">
    {{#each}}
      <li>
        {{#link-to 'album' id}}
          <span class="title">{{title}}</span>
          <span class="artist">{{artist_title}}</span>
        {{/link-to}}
      </li>
    {{/each}}
  </ul>
</script>
