<script type="text/x-handlebars" data-template-name="_navbar">
  <nav class="navbar navbar-fixed-top navbar-default">
    <div class="container">
      {{#link-to "latest_albums" classNames="navbar-brand"}}Triangular{{/link-to}}
      <form class="navbar-form pull-right">
        <div class="form-group">
          <input class="form-control" id="search" type="text" placeholder="Search"/>
        </div>
        <button type="submit" class="btn btn-danger">Search</button>
      </form>
    </div>
  </nav>
</script>
