<script type="text/x-handlebars" id="_player_playing">
  <div class="player">
    <div class="info">
      <div class="title">{{title}}</div>
      <div class="author">{{artist_title}}</div>
    </div>
    <div class="primary-buttons">
      <a {{action 'previous'}} class="icon-to-start" id="previous-btn"></a>
      <a {{action 'togglePlayPause'}} {{bind-attr class="playButtonClass"}} id="play-btn"></a>
      <a {{action 'next'}} class="icon-to-end" id="next-btn"></a>
    </div>
    <div class="timer">
      <div class="current">{{format-duration currentPosition}}</div>
      <div class="play-time slider"><span class="expand" {{bind-attr style="playProgressWidth"}}></span></div>
      <div class="total">{{format-duration currentDuration}}</div>
    </div>
  </div>
</script>

<script type="text/x-handlebars" id="playlist">
<div class="wrapper">
  <ul class="song-list nav">
    {{#each song in songs}}
      <li {{action 'playSong' song.id}}>
        <span class="title">{{song.title}}</span>
        <span class="artist">{{song.artist_title}}</span>
        <span class="remove" {{action 'removeSong' song.id bubbles=false}}>&times;</span>
      </li>
    {{/each}}
  </ul>
</div>
</script>

<script type="text/x-handlebars" id="_player_waiting">
  <span class="navbar-text">Please choose a song to play</span>
</script>

<script type="text/x-handlebars" id="player">
{{#if isPlaying}}
  {{partial 'player_playing'}}
{{else}}
  {{partial 'player_waiting'}}
{{/if}}
</script>
