<div class="navbar navbar-fixed-bottom navbar-inverse" ng-controller="PlayerCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-2" id="player-buttons">
        <div class="row">
          <div class="col-lg-3"><span ng-click="previous()" class="glyphicon glyphicon-backward"></div>
          <div class="col-lg-3"><span ng-click="play()" class="glyphicon glyphicon-play"></div>
          <div class="col-lg-3"><span ng-click="next()" class="glyphicon glyphicon-forward"></div>
        </div>
      </div>
      <div class="col-lg-9" id="player-progress">
        <div class="row">
          <span class="col-lg-1 timing" id="left-time">0:00</span>
          <span class="col-lg-10" id="title"></span>
          <span class="col-lg-1 timing" id="total-time">0:00</span>
        </div>
        <div class="progress progress-striped active">
          <div class="progress-bar progress-bar-info" style="width: 0%"></div>
          <div class="progress-bar progress-bar-danger" style="width: 0%"></div>
        </div>
      </div>
    </div>
  </div>
</div>