<script type="text/ng-template" id="player">
  <div class="row">
    <div class="col-lg-2" id="player-buttons">
      <div class="row">
        <div class="col-lg-3"><a><span class="glyphicon glyphicon-backward"></a></div>
        <div class="col-lg-3"><a><span class="glyphicon glyphicon-play"></a></div>
        <div class="col-lg-3"><a><span class="glyphicon glyphicon-forward"></a></div>
      </div>
    </div>
    <div class="col-lg-9" id="player-progress">
      <div class="row">
        <span class="col-lg-1 timing" id="left-time">0:00</span>
        <span class="col-lg-10" id="title"></span>
        <span class="col-lg-1 timing" id="total-time">0:00</span>
      </div>
      <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-info" style="width: 0%"></div>
        <div class="progress-bar progress-bar-danger" style="width: 0%"></div>
      </div>
    </div>
  </div>
</script>