<script type="text/x-handlebars" id="_album">
  {{#link-to 'album' result.id}}
    <span class="title">{{result.title}}</span>
    <span class="artist">{{result.artist.title}}</span>
  {{/link-to}}
</script>

<script type="text/x-handlebars" id="_song">
  {{#link-to 'album' result.album_id}}
    <span class="title">{{result.title}}</span>
    <span class="artist">{{result.artist_title}}</span>
  {{/link-to}}
</script>

<script type="text/x-handlebars" id="_artist">
  {{#link-to 'artist' result.id}}
    <span class="title">{{result.title}}</span>
  {{/link-to}}
</script>

<script type="text/x-handlebars" id="search">
  <h1 class="header">
      {{type}} search results for <i>{{query}}</i>
  </h1>
  <ul class="list list-search">
    {{#each result in results}}
      <li>
      {{#if isAlbum}}
        {{partial 'album'}}
      {{else}}
        {{#if isArtist}}
          {{partial 'artist'}}
        {{else}}
          {{partial 'song'}}
        {{/if}}
      {{/if}}
      </li>
    {{/each}}
  </ul>
</script>

