<!-- Search Box -->
<script type="text/ng-template" id="search-box">
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control input-lg" id="search-field" ng-model="query" placeholder="search for song, artist or album">
      <span class="input-group-btn">
        <button class="btn btn-danger btn-lg" id="search-button" type="button" ng-click="search()">search</button>
      </span>
    </div>
  </div>
</script>

<!-- Search page template -->
<script type="text/ng-template" id="search">
  <div class="container" id="main-content">
    <h1 class="title">Search Results</h1>
    <div album-list groups="results"></div>
  </div>
</script>