<script type="text/x-handlebars" id="_sidebar">
  <ul class="nav nav-pills">
    // <li id="search-form">
    //   {{input type="text" value=query classNames="form-control" action="search" placeholder="Search for music"}}
    // </li>
    <li>{{#link-to "latest_albums"}}Latest Albums{{/link-to}}</li>
    <li><a href="#">Search</a></li>
    <li><a href="#">Recently Played</a></li>
    <li><a href="#">Playlist</a></li>
  </ul>
</script>
