<script type="text/x-handlebars" id="_sidebar">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">{{#link-to "latest_albums"}}Triangular{{/link-to}}</li>
    <li id="search-form">
      {{input type="text" value=query classNames="form-control" action="search" placeholder="Search for music"}}
    </li>
    <li>{{#link-to "latest_albums"}}Latest Albums{{/link-to}}</li>
    <li class="divider"></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</script>
