<script type="text/ng-template" id="song-list">
  <li class="song-cell" ng-repeat="song in songs">
    <a href="#" ng-click="onSongSelect({song: song})">
      {{song.title}} <small>- {{song.artist_title}}</small>
    <a/>
  </li>
</script>